@import 'src/styles/colors';

.description {
  display: flex;
  flex-flow: column;
  align-items: center;
  &__data {
    display: flex;
    padding: 5px 0;
  }
  &__title {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 5px;
    color: $primary-color;
  }
  &__paragraph {
    color: $primary-color;
  }
  &__description {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 5px;
  }
}
ul {
  list-style: none;
}
li {
  padding: 0 8px;
  padding-bottom: 40px;
}
p {
  line-height: 25px;
}